header {
    position: fixed;
    width: 100%;
    transition: background-color 0.35s;
    z-index: 2;
  }
  .toggleNav {
    font-size: 30px;
  }
  ul {
    display: none;
  }


  .flex-nav a {
      letter-spacing: 2px;
      display: inline-block;
     
      text-align: center;
    }
    


    .flex-nav .toggleNav {
      padding:20px 20px 20px;
      display: none;
    }
  
    .highlighted {
      background-color:#afbdd6 ;
      box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    }
    
    .home a {
      color: transparent;
      padding-left: 30px;
    }

    .highlighted a {
      color: white;
    }


    li {
        text-transform: uppercase;   
    }
  
    li a {
      padding:10px 10px;
    }
  
  
  .flex-nav ul {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .flex-nav li {
    flex-grow: 1;
  } 
  
  .flex-nav .home {
    flex-grow: 1;;
  } 
  
  .flex-nav .spacer {
    flex-grow: 20;
  } 
  
  
  @media (max-width:768px) {
 
  .flex-nav li {
    flex-basis:100%;
  }

  .menuList{
    display: none
  }

  .menuList.toggled {
    display:initial;
  }
    
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .flex-nav .toggleNav {
    display: block;
    display: initial;
  }
  
  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
  }
}


a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 19px;
  bottom: 13px;
  left: 0;
  background-color: #EEF36A;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
a.left:hover {
  color: #7d7d7d;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
  
}



